@model RegisterViewModel
@{
    ViewData["Title"] = "Register";
}

<h2>@ViewData["Title"]</h2>


    <h4>Choose your role to create a new account:</h4>
    <hr />
    
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <a asp-action="RegisterDocOrPat" asp-route-id="Doctor" class="btn btn-default">Register As Doctor</a>
        </div>
    </div>
    <br>
    <br>
    <br>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <a asp-action="RegisterDocOrPat" asp-route-id="Patient" class="btn btn-default">Register As Patient</a>
        </div>
    </div>


@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
