@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>


<div class="container">
    <div class="col-lg-8">
    <h4>Visit the Waynesborough Ophthalmology <a href="http://www.waynesboroughophthalmology.com/about-us.html">About Page</a> for more detailed information of the practice and its location.</h4>
    <p>We offer a friendly and inviting atmosphere for our patients’ utmost comfort.
        Our state-of-the-art facilities include a clinic, diagnostic department, contact lens’ department, and eyewear showroom.
        Appointments Waynesborough Ophthalmology welcomes all new patients!</p>

    <p>To schedule an appointment, please call 919-734-8440 or Toll Free 1-800-442-6346 between the 8am and 5pm, Monday thru Thursday and 8am and 12noon on Friday.
        Our receptionist will schedule a time that works best for you and your treatment needs.</p>

    <p>If an urgent problem occurs, an emergency evaluation may be scheduled as soon as the same day as your call.
        We know how much you value your time, and we take great pride in providing the most efficient service possible.
        Unexpected emergencies and an increased demand for eye services can sometimes disrupt our schedule, so we ask for your patience and understanding.</p>
    </div>
</div>